<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple" />
    <title>Beep This Jeep</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>


    <div class="pagewidth">

        <div class='titleblock'>
            <img src={{ url_for('static', filename='./jeep.png' ) }} alt="Jeep">
            <h1>
                Beep This Jeep
            </h1>
        </div>

        <div style="text-align: left;">
            <h2>
                We're Ally and Alec 👋
            </h2>
            <h4>
                In May of this year, we packed our apartment in Washington, DC, excited for a new place and change
                of pace.
                What made this move different, however, is that we didn't have a set destination in mind.
                Instead, we're traveling across the United States exploring the National Park System and looking for a
                new city to call home.
                We made this site to share some of the highlights of our adventure with friends and family.
            </h4>
        </div>

        <div class="editor fixed block" style="width:100%">{{ create_map() }}</div>
        <br><br><br><br>
    </div>

</body>

</html>