<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>One More Step</title>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
</head>

<body>

    <div>
        If I take one more step, Mr. Frodo, this'll be the furthest away from home I've ever been.
    </div>

    <div>{{ create_map() }}</div>
    <br><br><br><br>

</body>

</html>